*{
    padding: 0%;
    margin: 0;
    background-color: #000;
}

.flex-div{
    display: flex;
    flex-wrap: wrap;
}

.section{

    display: flex;
}

.image-top{
    width: 100vw;
    height: 100;
	margin: 0 auto;
	padding: 0 0 0 0px;
    text-align: center;
    color: #ff5100;
    font-size: 48pt;
}

.section--left{
    float: left;
    margin-left: 25%;
    color: #fff;
}

.section--right{
    float: right;
    margin-right: 25%;
    color: #fff;
    background-color: #f87c07;
}

